In [1]:
import pandas as pd 
import numpy as np
import matplotlib
%matplotlib inline

In [2]:
covidUS = pd.read_csv('us-states.csv')

In [3]:
covidNY = covidUS[covidUS['state']== 'New York']

In [4]:
covidNY.head()

           date     state  fips  cases  deaths
246  2020-03-01  New York    36      1       0
261  2020-03-02  New York    36      1       0
276  2020-03-03  New York    36      2       0
293  2020-03-04  New York    36     11       0
313  2020-03-05  New York    36     22       0

In [5]:
covidNY.sort_values(by='cases', ascending=True).tail(12)

            date     state  fips   cases  deaths
1697  2020-04-02  New York    36   92770    2653
1752  2020-04-03  New York    36  102870    2935
1807  2020-04-04  New York    36  114996    3568
1862  2020-04-05  New York    36  122911    4161
1917  2020-04-06  New York    36  130703    4758
1972  2020-04-07  New York    36  140081    5563
2027  2020-04-08  New York    36  149401    6268
2083  2020-04-09  New York    36  159937    7067
2139  2020-04-10  New York    36  170512    7844
2195  2020-04-11  New York    36  180458    8627
2251  2020-04-12  New York    36  188694    9385
2307  2020-04-13  New York    36  195031   10056

In [6]:
new_cases = []
previous_count = 0
for i in range(len(covidNY.cases)):
    current_count = covidNY.cases.iloc[i]
    new_cases.append(current_count - previous_count)
    previous_count = current_count

In [7]:
covidNY['new_cases'] = new_cases

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
covidNY.head()

           date     state  fips  cases  deaths  new_cases
246  2020-03-01  New York    36      1       0          1
261  2020-03-02  New York    36      1       0          0
276  2020-03-03  New York    36      2       0          1
293  2020-03-04  New York    36     11       0          9
313  2020-03-05  New York    36     22       0         11

In [9]:
new_deaths = []
previous_count = 0
for i in range(len(covidNY.deaths)):
    current_count = covidNY.deaths.iloc[i]
    new_deaths.append(current_count - previous_count)
    previous_count = current_count

In [10]:
covidNY['new_deaths'] = new_deaths

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
covidNY.head()

           date     state  fips  cases  deaths  new_cases  new_deaths
246  2020-03-01  New York    36      1       0          1           0
261  2020-03-02  New York    36      1       0          0           0
276  2020-03-03  New York    36      2       0          1           0
293  2020-03-04  New York    36     11       0          9           0
313  2020-03-05  New York    36     22       0         11           0

In [13]:
covidNY[covidNY['deaths']>=535 ]

            date     state  fips   cases  deaths  new_cases  new_deaths
1368  2020-03-27  New York    36   44635     535       5648         103
1422  2020-03-28  New York    36   53363     782       8728         247
1477  2020-03-29  New York    36   59568     965       6205         183
1532  2020-03-30  New York    36   67174    1224       7606         259
1587  2020-03-31  New York    36   75832    1550       8658         326
1642  2020-04-01  New York    36   83889    1941       8057         391
1697  2020-04-02  New York    36   92770    2653       8881         712
1752  2020-04-03  New York    36  102870    2935      10100         282
1807  2020-04-04  New York    36  114996    3568      12126         633
1862  2020-04-05  New York    36  122911    4161       7915         593
1917  2020-04-06  New York    36  130703    4758       7792         597
1972  2020-04-07  New York    36  140081    5563       9378         805
2027  2020-04-08  New York    36  149401    6268       9320         705
2083  2020-04-09  New York    36  159937    7067      10536         799
2139  2020-04-10  New York    36  170512    7844      10575         777
2195  2020-04-11  New York    36  180458    8627       9946         783
2251  2020-04-12  New York    36  188694    9385       8236         758
2307  2020-04-13  New York    36  195031   10056       6337         671

In [17]:
covidNY['deaths_to_cases'] = covidNY.apply(lambda row: (row.deaths - 535) / (row.cases - 44634), axis = 1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
print(covidNY)

            date     state  fips   cases  deaths  new_cases  new_deaths  \
246   2020-03-01  New York    36       1       0          1           0
261   2020-03-02  New York    36       1       0          0           0
276   2020-03-03  New York    36       2       0          1           0
293   2020-03-04  New York    36      11       0          9           0
313   2020-03-05  New York    36      22       0         11           0
338   2020-03-06  New York    36      44       0         22           0
369   2020-03-07  New York    36      89       0         45           0
404   2020-03-08  New York    36     106       0         17           0
440   2020-03-09  New York    36     142       0         36           0
478   2020-03-10  New York    36     173       0         31           0
521   2020-03-11  New York    36     217       0         44           0
568   2020-03-12  New York    36     326       0        109           0
618   2020-03-13  New York    36     421       0         95           0
669   2020-03-14  New York    36     610       2        189           2
722   2020-03-15  New York    36     732       6        122           4
775   2020-03-16  New York    36     950      10        218           4
828   2020-03-17  New York    36    1374      17        424           7
882   2020-03-18  New York    36    2382      27       1008          10
936   2020-03-19  New York    36    4152      30       1770           3
990   2020-03-20  New York    36    7102      57       2950          27
1044  2020-03-21  New York    36   10356      80       3254          23
1098  2020-03-22  New York    36   15168     122       4812          42
1152  2020-03-23  New York    36   20875     159       5707          37
1206  2020-03-24  New York    36   25665     218       4790          59
1260  2020-03-25  New York    36   33066     325       7401         107
1314  2020-03-26  New York    36   38987     432       5921         107
1368  2020-03-27  New York    36   44635     535       5648         103
1422  2020-03-28  New York    36   53363     782       8728         247
1477  2020-03-29  New York    36   59568     965       6205         183
1532  2020-03-30  New York    36   67174    1224       7606         259
1587  2020-03-31  New York    36   75832    1550       8658         326
1642  2020-04-01  New York    36   83889    1941       8057         391
1697  2020-04-02  New York    36   92770    2653       8881         712
1752  2020-04-03  New York    36  102870    2935      10100         282
1807  2020-04-04  New York    36  114996    3568      12126         633
1862  2020-04-05  New York    36  122911    4161       7915         593
1917  2020-04-06  New York    36  130703    4758       7792         597
1972  2020-04-07  New York    36  140081    5563       9378         805
2027  2020-04-08  New York    36  149401    6268       9320         705
2083  2020-04-09  New York    36  159937    7067      10536         799
2139  2020-04-10  New York    36  170512    7844      10575         777
2195  2020-04-11  New York    36  180458    8627       9946         783
2251  2020-04-12  New York    36  188694    9385       8236         758
2307  2020-04-13  New York    36  195031   10056       6337         671

       testing  deaths_t0_cases  deaths_to_cases
246   0.011987         0.011987         0.011987
261   0.011987         0.011987         0.011987
276   0.011987         0.011987         0.011987
293   0.011989         0.011989         0.011989
313   0.011992         0.011992         0.011992
338   0.011998         0.011998         0.011998
369   0.012010         0.012010         0.012010
404   0.012015         0.012015         0.012015
440   0.012025         0.012025         0.012025
478   0.012033         0.012033         0.012033
521   0.012045         0.012045         0.012045
568   0.012075         0.012075         0.012075
618   0.012101         0.012101         0.012101
669   0.012107         0.012107         0.012107
722   0.012050         0.012050         0.012050
775   0.012018         0.012018         0.012018
828   0.011974         0.011974         0.011974
882   0.012023         0.012023         0.012023
936   0.012475         0.012475         0.012475
990   0.012736         0.012736         0.012736
1044  0.013274         0.013274         0.013274
1098  0.014016         0.014016         0.014016
1152  0.015826         0.015826         0.015826
1206  0.016711         0.016711         0.016711
1260  0.018154         0.018154         0.018154
1314  0.018240         0.018240         0.018240
1368  0.000000         0.000000         0.000000
1422  0.028296         0.028296         0.028296
1477  0.028793         0.028793         0.028793
1532  0.030568         0.030568         0.030568
1587  0.032534         0.032534         0.032534
1642  0.035817         0.035817         0.035817
1697  0.044000         0.044000         0.044000
1752  0.041212         0.041212         0.041212
1807  0.043106         0.043106         0.043106
1862  0.046323         0.046323         0.046323
1917  0.049065         0.049065         0.049065
1972  0.052678         0.052678         0.052678
2027  0.054721         0.054721         0.054721
2083  0.056651         0.056651         0.056651
2139  0.058064         0.058064         0.058064
2195  0.059577         0.059577         0.059577
2251  0.061433         0.061433         0.061433
2307  0.063306         0.063306         0.063306

In [20]:
covidNY.drop('deaths_t0_cases', axis=1)

,date,state,fips,cases,deaths,new_cases,new_deaths,testing,deaths_to_cases
246,2020-03-01,New York,36,1,0,1,0,0.011987,0.011987
261,2020-03-02,New York,36,1,0,0,0,0.011987,0.011987
276,2020-03-03,New York,36,2,0,1,0,0.011987,0.011987
293,2020-03-04,New York,36,11,0,9,0,0.011989,0.011989
313,2020-03-05,New York,36,22,0,11,0,0.011992,0.011992
338,2020-03-06,New York,36,44,0,22,0,0.011998,0.011998
369,2020-03-07,New York,36,89,0,45,0,0.012010,0.012010
404,2020-03-08,New York,36,106,0,17,0,0.012015,0.012015
440,2020-03-09,New York,36,142,0,36,0,0.012025,0.012025
478,2020-03-10,New York,36,173,0,31,0,0.012033,0.012033
521,2020-03-11,New York,36,217,0,44,0,0.012045,0.012045
568,2020-03-12,New York,36,326,0,109,0,0.012075,0.012075
618,2020-03-13,New York,36,421,0,95,0,0.012101,0.012101
669,2020-03-14,New York,36,610,2,189,2,0.012107,0.012107
722,2020-03-15,New York,36,732,6,122,4,0.012050,0.012050
775,2020-03-16,New York,36,950,10,218,4,0.012018,0.012018
828,2020-03-17,New York,36,1374,17,424,7,0.011974,0.011974
882,2020-03-18,New York,36,2382,27,1008,10,0.012023,0.012023
936,2020-03-19,New York,36,4152,30,1770,3,0.012475,0.012475
990,2020-03-20,New York,36,7102,57,2950,27,0.012736,0.012736
1044,2020-03-21,New York,36,10356,80,3254,23,0.013274,0.013274
1098,2020-03-22,New York,36,15168,122,4812,42,0.014016,0.014016
1152,2020-03-23,New York,36,20875,159,5707,37,0.015826,0.015826
1206,2020-03-24,New York,36,25665,218,4790,59,0.016711,0.016711
1260,2020-03-25,New York,36,33066,325,7401,107,0.018154,0.018154
1314,2020-03-26,New York,36,38987,432,5921,107,0.018240,0.018240
1368,2020-03-27,New York,36,44635,535,5648,103,0.000000,0.000000
1422,2020-03-28,New York,36,53363,782,8728,247,0.028296,0.028296
1477,2020-03-29,New York,36,59568,965,6205,183,0.028793,0.028793
1532,2020-03-30,New York,36,67174,1224,7606,259,0.030568,0.030568
1587,2020-03-31,New York,36,75832,1550,8658,326,0.032534,0.032534
1642,2020-04-01,New York,36,83889,1941,8057,391,0.035817,0.035817
1697,2020-04-02,New York,36,92770,2653,8881,712,0.044000,0.044000
1752,2020-04-03,New York,36,102870,2935,10100,282,0.041212,0.041212
1807,2020-04-04,New York,36,114996,3568,12126,633,0.043106,0.043106
1862,2020-04-05,New York,36,122911,4161,7915,593,0.046323,0.046323
1917,2020-04-06,New York,36,130703,4758,7792,597,0.049065,0.049065
1972,2020-04-07,New York,36,140081,5563,9378,805,0.052678,0.052678
2027,2020-04-08,New York,36,149401,6268,9320,705,0.054721,0.054721
2083,2020-04-09,New York,36,159937,7067,10536,799,0.056651,0.056651
2139,2020-04-10,New York,36,170512,7844,10575,777,0.058064,0.058064
2195,2020-04-11,New York,36,180458,8627,9946,783,0.059577,0.059577
2251,2020-04-12,New York,36,188694,9385,8236,758,0.061433,0.061433
2307,2020-04-13,New York,36,195031,10056,6337,671,0.063306,0.063306

In [21]:
#ratio of deaths to cases from march 27 to now. 
0.063306*100

6.3306000000000004

In [ ]:
#task 3

In [25]:
covidUS.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [33]:
covidUS_2 = covidUS[covidUS['date']=='2020-03-27']

In [35]:
covidUS_2

            date                 state  fips  cases  deaths
1335  2020-03-27               Alabama     1    639       4
1336  2020-03-27                Alaska     2     85       1
1337  2020-03-27               Arizona     4    665      15
1338  2020-03-27              Arkansas     5    386       3
1339  2020-03-27            California     6   4914     102
1340  2020-03-27              Colorado     8   1735      31
1341  2020-03-27           Connecticut     9   1291      27
1342  2020-03-27              Delaware    10    165       2
1343  2020-03-27  District of Columbia    11    304       4
1344  2020-03-27               Florida    12   3198      46
1345  2020-03-27               Georgia    13   2198      64
1346  2020-03-27                  Guam    66     53       1
1347  2020-03-27                Hawaii    15    120       0
1348  2020-03-27                 Idaho    16    231       4
1349  2020-03-27              Illinois    17   3029      37
1350  2020-03-27               Indiana    18    982      26
1351  2020-03-27                  Iowa    19    235       3
1352  2020-03-27                Kansas    20    212       4
1353  2020-03-27              Kentucky    21    302       8
1354  2020-03-27             Louisiana    22   2746     119
1355  2020-03-27                 Maine    23    168       1
1356  2020-03-27              Maryland    24    775       5
1357  2020-03-27         Massachusetts    25   3240      35
1358  2020-03-27              Michigan    26   3657      93
1359  2020-03-27             Minnesota    27    398       4
1360  2020-03-27           Mississippi    28    579       8
1361  2020-03-27              Missouri    29    671       9
1362  2020-03-27               Montana    30    121       1
1363  2020-03-27              Nebraska    31    100       2
1364  2020-03-27                Nevada    32    621      10
1365  2020-03-27         New Hampshire    33    187       2
1366  2020-03-27            New Jersey    34   8825     108
1367  2020-03-27            New Mexico    35    191       1
1368  2020-03-27              New York    36  44635     535
1369  2020-03-27        North Carolina    37    783       3
1370  2020-03-27          North Dakota    38     68       1
1371  2020-03-27                  Ohio    39   1144      22
1372  2020-03-27              Oklahoma    40    322       8
1373  2020-03-27                Oregon    41    414      12
1374  2020-03-27          Pennsylvania    42   2218      23
1375  2020-03-27           Puerto Rico    72     79       3
1376  2020-03-27          Rhode Island    44    203       0
1377  2020-03-27        South Carolina    45    539      13
1378  2020-03-27          South Dakota    46     58       1
1379  2020-03-27             Tennessee    47   1180       6
1380  2020-03-27                 Texas    48   1942      23
1381  2020-03-27                  Utah    49    480       2
1382  2020-03-27               Vermont    50    184      10
1383  2020-03-27        Virgin Islands    78     19       0
1384  2020-03-27              Virginia    51    606      14
1385  2020-03-27            Washington    53   3770     177
1386  2020-03-27         West Virginia    54     96       0
1387  2020-03-27             Wisconsin    55    930      16
1388  2020-03-27               Wyoming    56     73       0

In [36]:
covidUS_3 = covidUS_2[covidUS_2['deaths']> 0]

In [37]:
covidUS_3

            date                 state  fips  cases  deaths
1335  2020-03-27               Alabama     1    639       4
1336  2020-03-27                Alaska     2     85       1
1337  2020-03-27               Arizona     4    665      15
1338  2020-03-27              Arkansas     5    386       3
1339  2020-03-27            California     6   4914     102
1340  2020-03-27              Colorado     8   1735      31
1341  2020-03-27           Connecticut     9   1291      27
1342  2020-03-27              Delaware    10    165       2
1343  2020-03-27  District of Columbia    11    304       4
1344  2020-03-27               Florida    12   3198      46
1345  2020-03-27               Georgia    13   2198      64
1346  2020-03-27                  Guam    66     53       1
1348  2020-03-27                 Idaho    16    231       4
1349  2020-03-27              Illinois    17   3029      37
1350  2020-03-27               Indiana    18    982      26
1351  2020-03-27                  Iowa    19    235       3
1352  2020-03-27                Kansas    20    212       4
1353  2020-03-27              Kentucky    21    302       8
1354  2020-03-27             Louisiana    22   2746     119
1355  2020-03-27                 Maine    23    168       1
1356  2020-03-27              Maryland    24    775       5
1357  2020-03-27         Massachusetts    25   3240      35
1358  2020-03-27              Michigan    26   3657      93
1359  2020-03-27             Minnesota    27    398       4
1360  2020-03-27           Mississippi    28    579       8
1361  2020-03-27              Missouri    29    671       9
1362  2020-03-27               Montana    30    121       1
1363  2020-03-27              Nebraska    31    100       2
1364  2020-03-27                Nevada    32    621      10
1365  2020-03-27         New Hampshire    33    187       2
1366  2020-03-27            New Jersey    34   8825     108
1367  2020-03-27            New Mexico    35    191       1
1368  2020-03-27              New York    36  44635     535
1369  2020-03-27        North Carolina    37    783       3
1370  2020-03-27          North Dakota    38     68       1
1371  2020-03-27                  Ohio    39   1144      22
1372  2020-03-27              Oklahoma    40    322       8
1373  2020-03-27                Oregon    41    414      12
1374  2020-03-27          Pennsylvania    42   2218      23
1375  2020-03-27           Puerto Rico    72     79       3
1377  2020-03-27        South Carolina    45    539      13
1378  2020-03-27          South Dakota    46     58       1
1379  2020-03-27             Tennessee    47   1180       6
1380  2020-03-27                 Texas    48   1942      23
1381  2020-03-27                  Utah    49    480       2
1382  2020-03-27               Vermont    50    184      10
1384  2020-03-27              Virginia    51    606      14
1385  2020-03-27            Washington    53   3770     177
1387  2020-03-27             Wisconsin    55    930      16

In [38]:
covidUS_3['deaths_to_cases'] = covidUS_3.apply(lambda row: (row.deaths) / (row.cases), axis = 1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [40]:
covidUS_3

            date                 state  fips  cases  deaths  deaths_to_cases
1335  2020-03-27               Alabama     1    639       4         0.006260
1336  2020-03-27                Alaska     2     85       1         0.011765
1337  2020-03-27               Arizona     4    665      15         0.022556
1338  2020-03-27              Arkansas     5    386       3         0.007772
1339  2020-03-27            California     6   4914     102         0.020757
1340  2020-03-27              Colorado     8   1735      31         0.017867
1341  2020-03-27           Connecticut     9   1291      27         0.020914
1342  2020-03-27              Delaware    10    165       2         0.012121
1343  2020-03-27  District of Columbia    11    304       4         0.013158
1344  2020-03-27               Florida    12   3198      46         0.014384
1345  2020-03-27               Georgia    13   2198      64         0.029117
1346  2020-03-27                  Guam    66     53       1         0.018868
1348  2020-03-27                 Idaho    16    231       4         0.017316
1349  2020-03-27              Illinois    17   3029      37         0.012215
1350  2020-03-27               Indiana    18    982      26         0.026477
1351  2020-03-27                  Iowa    19    235       3         0.012766
1352  2020-03-27                Kansas    20    212       4         0.018868
1353  2020-03-27              Kentucky    21    302       8         0.026490
1354  2020-03-27             Louisiana    22   2746     119         0.043336
1355  2020-03-27                 Maine    23    168       1         0.005952
1356  2020-03-27              Maryland    24    775       5         0.006452
1357  2020-03-27         Massachusetts    25   3240      35         0.010802
1358  2020-03-27              Michigan    26   3657      93         0.025431
1359  2020-03-27             Minnesota    27    398       4         0.010050
1360  2020-03-27           Mississippi    28    579       8         0.013817
1361  2020-03-27              Missouri    29    671       9         0.013413
1362  2020-03-27               Montana    30    121       1         0.008264
1363  2020-03-27              Nebraska    31    100       2         0.020000
1364  2020-03-27                Nevada    32    621      10         0.016103
1365  2020-03-27         New Hampshire    33    187       2         0.010695
1366  2020-03-27            New Jersey    34   8825     108         0.012238
1367  2020-03-27            New Mexico    35    191       1         0.005236
1368  2020-03-27              New York    36  44635     535         0.011986
1369  2020-03-27        North Carolina    37    783       3         0.003831
1370  2020-03-27          North Dakota    38     68       1         0.014706
1371  2020-03-27                  Ohio    39   1144      22         0.019231
1372  2020-03-27              Oklahoma    40    322       8         0.024845
1373  2020-03-27                Oregon    41    414      12         0.028986
1374  2020-03-27          Pennsylvania    42   2218      23         0.010370
1375  2020-03-27           Puerto Rico    72     79       3         0.037975
1377  2020-03-27        South Carolina    45    539      13         0.024119
1378  2020-03-27          South Dakota    46     58       1         0.017241
1379  2020-03-27             Tennessee    47   1180       6         0.005085
1380  2020-03-27                 Texas    48   1942      23         0.011843
1381  2020-03-27                  Utah    49    480       2         0.004167
1382  2020-03-27               Vermont    50    184      10         0.054348
1384  2020-03-27              Virginia    51    606      14         0.023102
1385  2020-03-27            Washington    53   3770     177         0.046950
1387  2020-03-27             Wisconsin    55    930      16         0.017204

In [49]:
covidUS_3.deaths_to_cases.rank()

1335     6.0
1336    14.0
1337    37.0
1338     8.0
1339    35.0
1340    30.0
1341    36.0
1342    17.0
1343    21.0
1344    24.0
1345    45.0
1346    31.5
1348    29.0
1349    18.0
1350    42.0
1351    20.0
1352    31.5
1353    43.0
1354    47.0
1355     5.0
1356     7.0
1357    13.0
1358    41.0
1359    10.0
1360    23.0
1361    22.0
1362     9.0
1363    34.0
1364    26.0
1365    12.0
1366    19.0
1367     4.0
1368    16.0
1369     1.0
1370    25.0
1371    33.0
1372    40.0
1373    44.0
1374    11.0
1375    46.0
1377    39.0
1378    28.0
1379     3.0
1380    15.0
1381     2.0
1382    49.0
1384    38.0
1385    48.0
1387    27.0
Name: deaths_to_cases, dtype: float64

In [ ]:
#1382, 1385, 1354, 1375, 1345

In [ ]:
#Vermont, Washington, Louisiana, Puerto Rico, Georgia

In [50]:
# New York, 16/49